
body{
    margin: 0;
}
.container{
    width: 591px;
    height: 342px;
    background-color: #ffffff;
    z-index: -1;
    border-color: #000000;
    border-style: double;
}
.img1{
    position: absolute;
    z-index: 5;
}
.img2{
    position: absolute;
    left: 511px;
    top: 19px;
    width: 49.03px;
    height: 96.8px;
}
.img3{
    position: absolute;
    width: 48px;
    height: 49.5px;
    left: 511px;
    top: 3px;
    z-index: 3;
}
.img4{
    position: absolute;
    width: 49px;
    height: 49.5px;
    left: 515px;
    top: 3px;
}
.img5{
    position: absolute;
    width: 49px;
    height: 61px;
    left: 515px;
    top: 53px;
}


.img6{
    position: absolute;
    width: 61.44px;
    height: 121.3px;
    left: 487.21px;
    top: 0px;
    z-index: 0;
    background: rgba(253, 167, 65, 0.2);
    border-radius: 0px 200px 0px 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    opacity: 0.05;
}
.img7{
    position: absolute;
    width: 121.3px;
    height: 121.3px;
    left: 365.91px;
    top: 2.3px;
    z-index: 0;
    background: rgba(29, 106, 255, 0.2);
    opacity: 0.05;
}
.img8{
    position: absolute;
    width: 83.49px;
    height: 83.49px;
    left: 384.81px;
    top: 21.21px;
    z-index: 1;
    background: rgba(255, 212, 60, 0.2);
    opacity: 0.05;
}
.img9{
    position: absolute;
    width: 45.69px;
    height: 47.26px;
    left: 404.4px;
    top: 38.54px;
    z-index: 2;
    background: rgba(253, 167, 65, 0.2);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    opacity: 0.05;
}


.img14{
    position: absolute;
    width: 59.86px;
    height: 121.3px;
    left: 246.18px;
    top: 3px;
    opacity: 0.1;
}

.img15{
    position: absolute;
    width: 45.69px;
    height: 47.26px;
    left: 192.73px;
    top: 18.33px;
    opacity: 0.1;
}

.img16{
    position: absolute;
    width: 59.86px;
    height: 61.44px;
    left: 124.74px;
    top: 62.5px;
    z-index: 1;
    opacity: 0.1;
}

.img17{
    position: absolute;
    width: 108.5px;
    height: 121.3px;
    left: 485.0px;
    top: 122px;
    opacity: 0.1;
}


.img18{
    position: absolute;
    width: 61.44px;
    height: 59.86px;
    left: 426px;
    top: 123.47px;
    opacity: 0.1;
}

.img19{
    position: absolute;
    width: 43.3px;
    height: 59.86px;
    left: 550.22px;
    top: 120.47px;
    opacity: 0.1;
}

.img20{
    position: absolute;
    width: 61.44px;
    height: 61.44px;
    left: 424.78px;
    top: 183.47px;
    opacity: 0.1;
}

.img21{
    position: absolute;
    width: 61.44px;
    height: 121.3px;
    left: 365.91px;
    top: 123.6px;
    opacity: 0.1;
}

.img22{
    position: absolute;
    width: 47.26px;
    height: 47.26px;
    left: 310.88px;
    top: 137.78px;
    opacity: 0.1;
}

.img23{
    position: absolute;
    width: 121.3px;
    height: 121.3px;
    left: 245.6px;
    top: 123.6px;
    opacity: 0.1;
}
.img24{
    position: absolute;
    width: 121.3px;
    height: 121.3px;
    left: 245.91px;
    top: 123.6px;
    opacity: 0.1;
}
.img25{
    position: absolute;
    width: 121.3px;
    height: 121.3px;
    left: 125.3px;
    top: 123.6px;
    opacity: 0.1;
}
.img26{
    position: absolute;
    width: 121.3px;
    height: 121.3px;
    left: 125.3px;
    top: 123.6px;
    opacity: 0.1;
}
.img27{
    position: absolute;
    width: 107.3px;
    height: 103.3px;
    left: 486.78px;
    top: 241.91px;
    opacity: 0.1;
}
.img28{
    position: absolute;
    width: 61.44px;
    height: 59.86px;
    left: 486.78px;
    top: 242.91px;
    opacity: 0.1;
}   
.img29{
    position: absolute;
    width: 47.86px;
    height: 59.86px;
    left: 546.08px;
    top: 241.91px;
    opacity: 0.1;
}


.img30{
    position: absolute;
    width: 61.44px;
    height: 43.44px;
    left: 488.22px;
    top: 301.21px;
    opacity: 0.1;
}
.img31{
    position: absolute;
    width: 44.86px;
    height: 42.44px;
    left: 549.22px;
    top: 302.21px;
    opacity: 0.1;
}
.img32{
    position: absolute;
    width: 63.86px;
    height: 62.3px;
    left: 424.45px;
    top: 245.46px;
    opacity: 0.1;
}
.img33{
    position: absolute;
    width: 58.86px;
    height: 62.3px;
    left: 366.9px;
    top: 245.46px;
    opacity: 0.1;
}
.img34{
    position: absolute;
    width: 58.86px;
    height: 39.3px;
    left: 429.45px;
    top: 305.45px;
    opacity: 0.1;
}
.img35{
    position: absolute;
    width: 58.86px;
    height: 39.3px;
    left: 366.4px;
    top: 305.45px;
    opacity: 0.1;
}
.img36{
    position: absolute;
    width: 122.88px;
    height: 101px;
    left: 244.6px;
    top: 243.91px;
    opacity: 0.1;
}
.img37{
    position: absolute;
    width: 120px;
    height: 100px;
    left: 247.48px;
    top: 244.21px;
    opacity: 0.1;
}
.img38{
    position: absolute;
    width: 120px;
    height: 101px;
    left: 128.3px;
    top: 244.21px;
    opacity: 0.1;
}
.img39{
    position: absolute;
    width: 120px;
    height: 101px;
    left: 128px;
    top: 244.91px;
    opacity: 0.1;
}
.img40{
    position: absolute;
    width: 47.26px;
    height: 40.26px;
    left: 143.17px;
    top: 304.77px;
    opacity: 0.1;
}





.div2{
    position: absolute;
    /* width: 184px;
    height: 28px; */
    left: 210px;
    top: 24px;
    z-index: 5;
}
/* 
@font-face {
    font-family: Gilroy-Bold;
    src: url("backend/assets/fonts/GilroyBold.ttf");
}
@font-face {
    font-family: Gilroy;
    src: url("backend/assets/fonts/GilroyRegular.ttf");
}
@font-face {
    font-family: Gilroy-Medium;
    src: url("backend/assets/fonts/GilroyMedium.ttf");
} */
  
  
.hh1{
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    /* or 131% */
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    /* black */
    color: #191919;
}

.hh2{
    font-family: Gilroy;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    margin-top: -25px;
    color: rgba(0, 0, 0, 0.49);
    padding-bottom: 30px;
}
.hh3{
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
    /* or 78% */
    letter-spacing: -0.02em;
    /* black */
    color: #191919;
    display: inline;
    padding-left: 12px;
}
.hh4{
    font-family: Gilroy;
    font-size: 11px;
    line-height: 14px;
    /* identical to box height, or 127% */
    color: rgba(0, 0, 0, 0.49);
    padding-left: 29px;
    margin-top: 0px;
}

.hh5, .hh6, .hh7{
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #191919;
}
.hh5{
    display: inline;
    padding-left: 13px;
    
}
.hh6{
    padding-left: 26px;
    margin-top: -16px;
}

.hh7{
    width: 220px;
    padding-left: 26px;
    margin-top: -18px;
}
.div3{
    padding-top: 6px;
}
.div4{
    padding-top: 40px;
}